.rdt_Table{
	border: 1px solid #eee;
}
.rdt_TableRow{}
.rdt_TableCol{}
.rdt_TableCol_Sortable{}
.rdt_TableCell{}
.rdt_TableHeader{}
.rdt_TableFooter{}
.rdt_TableHead{}
.rdt_TableHeadRow{
	background-color: rgba(236,239,241,.5) !important;
	padding: 1rem;
	border-bottom-width: 1px;
	border-top-width: 1px;
}
.rdt_TableBody{}
.rdt_ExpanderRow{}