.bg-primary-light-950 {
	--tw-bg-opacity: 1;
	background-color: rgb(79 70 229 / var(--tw-bg-opacity));
}

.item-link:hover {
	text-decoration: underline;
	text-decoration-thickness: 2px;
	text-underline-offset: 5px;
	-webkit-text-decoration-color: #4F46E5FF;
	text-decoration-color: #4F46E5FF;
	transition: all 0.3s ease-in-out;
}

.bg-primary-light-300 {
	--tw-bg-opacity: 1;
	background-color: rgb(255 246 207 / var(--tw-bg-opacity));
}

@media (min-width: 1024px) {
	.heading-2 {
		font-size: 66px;
		line-height: 83px;
		font-weight: 700;
	}
}

@media (min-width: 768px) {
	.heading-2 {
		font-size: 46px;
		line-height: 72px;
	}
}