.input-default {
	width: 100%;
	border-radius: 0.5rem;
	border-width: 1px;
	--tw-border-opacity: 1;
	border-color: rgb(227 227 227 / var(--tw-border-opacity));
	--tw-bg-opacity: 1;
	background-color: rgb(255 255 255 / var(--tw-bg-opacity));
	padding-left: 1rem;
	padding-right: 1rem;
	padding-top: 0.75rem;
	padding-bottom: 0.75rem;
}

.input-default.error-input {
	border-color: red;
	border-width: 2px;
}

.textarea-default {
	min-height: 12rem;
	width: 100%;
	border-radius: 0.5rem;
	border-width: 1px;
	--tw-border-opacity: 1;
	border-color: rgb(227 227 227 / var(--tw-border-opacity));
	--tw-bg-opacity: 1;
	background-color: rgb(255 255 255 / var(--tw-bg-opacity));
	padding-left: 1rem;
	padding-right: 1rem;
	padding-top: 0.75rem;
	padding-bottom: 0.75rem;
}

.textarea-default.error-input {
	border-color: red;
	border-width: 2px;
}